* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Primary colors */
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  /* Neutral colors */
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
  /* Font Family */
  --font-family: "Montserrat", sans-serif;
  --fw-medium: 500;
  --fw-bold: 700;
  --ff: "Fraunces", serif;
  --fw-bolder: 700;
}
body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  background-color: var(--Cream);
}
